*{
    font-family: 'Maison Neue', sans-serif;
box-sizing: border-box;
}
#header{
    background-image: linear-gradient(45deg, rgb(2, 136, 209) 0%, rgb(2, 136, 209) 1%, rgb(16, 26, 69) 100%);
 
}
#profile-container{
    box-shadow: 0 -5px 40px 7px rgba(0,0,0,0.08);
    /* border:1px solid rgba(255,255,255,0.15); */

}
#profile-container a{
  color:white;
  text-decoration: none;

}


h2{
    color:white;
    font-weight: 400;
    
}
h6{
    color:#ADC8DC;
    font-size: 0.8em;
    padding-top: 0.5em;

}
#card-header{
    padding-top:5em;
}
#card-header img{
    border-radius: 50%;
    margin:0 0 1em 0;
    width:100;
    height:100;
}
#contact-container{
    border-top: 1px solid rgba(255,255,255,0.15);
}
#card-header a{
    padding:1.2em 0.5;
    margin:0;
    border-top: 1px solid rgba(255,255,255,0.15);


  
}
#card-header a:first-of-type{
    border-right: 1px solid rgba(255,255,255,0.15);
    
}
#card-header a:hover{
    background-color: rgba(0,0,0,0.1);
}
#card-header span{
    display: block;
    margin-top: 0.5em;
}
#profile{
    margin-top:4em;
}
a span{
    font-size:0.8em;
    font-weight: 400;
}
#profile-details-ontainer{
    padding: 20px 45px 40px;
    box-shadow: 0 -5px 40px 7px rgba(0,0,0,0.08);
    margin-bottom: 5em;
}
.profile-details-item{
    position: relative;
    padding: 20px 0 20px 65px;
    float: left;
    width: 100%;
}

.profile-details-item i {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 20px;
    color: #b3b4bb;
}

.profile-details-item h4{
    display: block;
    line-height: 1.3;
    margin-bottom: 5px;
    color: #323032;
    font-weight: 400;
    font-size:1em;

}
.profile-details-item small{
    color: #82848f;
}
.profile-details-item a{
    text-decoration: none;
    color:#323032;
}

.separator{
    height: 1px;
    background-color: #eaeaea;
    float: right;
    width: calc(100% - 65px);
}
#media-link-container{

}
#media-link-container i{
    position: relative;
    margin: 0.5em 0.5em;
    font-size: 2em;
    top: unset;
    left: unset;
    color:unset;

}
#contact-download button{
    margin-top:1em;
    box-shadow: 0px 10px 14.1px 0.9px rgba(0,0,0,0.24), 0px 4px 19.6px 0.4px rgba(0,0,0,0.16);
    font-size: 1.2em;
}

@media screen and (max-width: 650px) {
    #card-header{
        padding-top: 0;
    }
    #profile-details-ontainer{
        margin-bottom: 0;
    }
    #profile-container{
        box-shadow: none;
        width: 100%;
    }
    #profile-details-ontainer{
        padding: unset;
    }
  
}