body{
    width:100%;
    height:100%;
    margin:0;
    font-family: 'Barlow Condensed';
}
/*Header section*/
header{
    background: black;  
height:100%;
letter-spacing: 0.2em;
    font-size: 1.1em;
}
header .container{
    color:white;
    text-align: center;
    padding: 16% 0 0 0;
}
#me{
    color:red;
}   
.headerButtonContainer{
    width:20%;
    margin:0 auto;
}
.headerButton {
    text-align: center;
    color:white;
    background-color:transparent;
    border-top-width: 5px;
    border-left-width:5px;
    border-right-width:5px;
    border-bottom-width:5px;
    border-color:orange;
    height: 10%;
    width:100%;
    margin:0 auto;
    font-size:1.2em;
    
}
.headerButtonContainer1{
    display:none;
}

header i {
    margin-left:10px;
    font-size:1.2em;
    animation: bounce 1.8s infinite;
}


.navbar{
    background-color: black;
    padding:0.3em 0;
    border-bottom: 0.5em solid #004d4d;
    background-image: linear-gradient(#009999, #009999);
    background-repeat: no-repeat;
     background-position: 50% 50%;
background-size:  0% 100% ;
    transition: background-size 0.6s linear;
   
    
}

#top a{
    text-decoration:none;
    margin-right:2em;
    font-size:1.6em;
    color:white;
}
.star {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
    width:0.3em;
    height:0.3em;
    
}
/*generl */
h2{
    text-align:center;
    font-size:1.5em;
    margin-bottom: 1em;
}
.container {
    width:80%;
    margin: 0 auto;
}

.fixed {
  position: fixed;
  top: 0;
    width: 100%;
    z-index:10;
    background-size:100% 100%;

}

.fixed + * {
    padding-top:3em;
}
.selected{
background-color:red;
border: 1px solid red;
    padding:0.15em;
    
}
/*Sections*/
.row{
    width:90%;
    display: flex;
    padding: 2em;
}
div{
width:100%;
}
#about {
    text-align:center;
    font-size:1.618em;
    
}
#about i{   
    font-size:2.5em;
   
}
#about h4{
    font-size:1em;
    margin:0.5em;
}
#about p{
    line-height: 1.618em;
}
.skill-container{
    width:100%;
    margin-left:2em;
    display:flex;
    background-color: #a3a3c2;
    margin:2%;
    border:0;
}

#about button{
    width:20%;
    background-color:#004d4d;
    height:5%;
    border:0;
    color:white;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
h3{
margin:0 0 1em 0;
}
.bar{
    width:0% ;
  background-color: #009999;
    text-align:right;
  color: black;  
}
.Project-container{
    height:50%;
    width:50%;
    margin:0 auto;
    margin-bottom: 0px;
     overflow: hidden;
    
}
.slides{
    width:150vw;
    height:100%;
    display:block;
    padding:0;
    margin:0;
    
    
}
.slide{
    float:left;
    list-style-type: none;
 
}
.slide img{
    width:50vw;
    height: 50vh;
    display: inline-block;
}
.project-footer{
    margin:0 45%;
    font-size:2em;
    position: relative;
}
.project-footer i {
    margin-right:0.4em;
    cursor: pointer;
}
#projects{
    padding: 2em;
    background-color: #004d66;
    color:white;
}

.bio{
    padding:2em;
}

.hidden{
    opacity:0;
}
.row.hidden:first-of-type{
    transform: translateX(-100vw);
}
.row,#projects,#contact{
    transition: all 1.2s ease;
}
.modal{
    display: none;
    position:fixed;
    z-index: 20;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.4);
        
}
.modal-content{
    margin:10% auto;
    width:70%;
    height:70%;
    padding:1.2em;
}
.modal-content img{
   width:100%;
    height: 100%;
}


.testimonials{
    width:40%;
    height:40%;
    margin:10% auto;
    font-size: 2em;
}
/*footer*/
form{
    
    display:flex;
    flex-direction: column;
    padding:1em;
}
.form-container{
    font-size:1.2em;
    padding:3em;
    width:40%;
    margin:0 auto;
}
form input,form textarea{
    width:100%;
     height:5%;
    margin:1em;
    outline: none;
}

form textarea{
    height:20%;
}

footer nav{
    width:20%;
    margin:0 auto;
    display:flex;
justify-content: space-around;
    padding:1.618em;

}
footer{
    background-color:#653485;
    color:white;
}
.error-message{
    color:red;
    display:none;
}
footer nav a {
    text-decoration: none;
    color:black;
    font-size: 2em;
    
}
.nav-container{
    background-color: darkslategray;    /*footer navbar*/
}


.focused{
    border:2px solid green;
    
}
input[type=submit]{
    color:red;
    height:4em;
    width:40%;
    margin:0 auto;
}
.danger {
    border-color:red;
}   
.active{
    border-color:green;
    
}

/*Key frames*/


@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
     transform:translateY(0);
  }
	40% {
     transform:translateY(-15px);
  }
	60% {
        transform:translateY(-10px);
  }
}
@keyframes slideleft{
    0%{
    transform: translateX(-2000px);
    }
    100%{
        transform:translate(0);
    }
}
@keyframes slideright{
    0%{
    transform: translateX(+200px);
    }
    100%{
        transform:translate(0);
    } 
}

@keyframes bounceform{
   0% {
     transform:scale(0.5,0.5);
  }
  
	40% {
     transform:scale(1.4,1.4);
  }
	60% {
        transform:scale(0.8,0.8);
  }
       0% {
     transform:scale(1.2,1.2);
  }
    100%{
        transform:scale(1,1);
    }
} 
#contact.hidden{
    transform: scale(0.2,0.2);
}


.hamburger{
    display:none;
}

@media screen and (max-width: 840px) {
    .headerButtonContainer{
    width:40%;
    margin:0 auto;
}
    .headerButtonContainer{
        display:none;
    }
    .headerButtonContainer1{
        display:block;
    }
    .headerButton{
        width:12%;
        height:10%;
        border-radius: 100%;
        outline: none;
    }
    .headerButton i{
        color:red;
        margin:0 auto;
        
    }
    .row:nth-of-type(2){
     flex-direction: column;   
    }
    .testimonials p{
        font-size: 0.6em;
    }
    #about .row{
        margin-left:-5%; 
    }
    .bio{
        margin-left:-20%;
        text-align: center;
    
    }
    .skills{
        margin-left:-10%;
    }
    .project-footer{
        width:30%;
    margin:0 auto;
    }
    
}
@media screen and (max-width:740px){
       .headerButtonContainer{
    width:35%;
    height: 80%;
    margin:0 auto;
}
    .row{
        
        flex-direction: column;    
    }
    .navbar a:not(:last-child){
        display:none;
    }
    .navbar{
        height:3%;
    }
    .hamburger{
        position:absolute;
        display:block;
        right:0;  
        float: right;
        
    }
    .fixed .hamburger{
        top:0;
    }
    .high{
        height:20%;
    }
     #top.fixed .responsive {
    background-image: linear-gradient(#009999, #009999);
    float: none;
    display: block;
    text-align: left;
  }

    
    a.selected{
        border: 1px solid red;
        background-color: red;
    }
    #contact input,#contact textarea,.form-container{
        width:90%;
        
    }
    input[type=submit]{
    color:red;
    height:4em;
    margin-left:2%;
}
    
    
    
}




