body{
    max-width:100%;
    height:100%;
    margin:0;
    font-family: 'Barlow Condensed';
    overflow-x: hidden;
}
/*Header section*/
header{
    background: black;
height:100%;
letter-spacing: 0.2em;
    font-size: 1.1em;
}
header .container{
    color:white;
    text-align: center;
    padding: 16% 0 0 0;
}
#me{
    color:red;
}
.headerButtonContainer{
    width:20%;
    margin:0 auto;
}
.headerButton {
    text-align: center;
    color:white;
    background-color:transparent;
    border-top-width: 5px;
    border-left-width:5px;
    border-right-width:5px;
    border-bottom-width:5px;
    border-color:orange;
    height: 10%;
    width:100%;
    margin:0 auto;
    font-size:1.2em;

}
.headerButtonContainer1{
    display:none;
}

header i {
    margin-left:10px;
    font-size:1.2em;
    -webkit-animation: bounce 1.8s infinite;
            animation: bounce 1.8s infinite;
}


.navbar{
    background-color: black;
    padding:0.3em 0;
    border-bottom: 0.5em solid #004d4d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009999), to(#009999));
    background-image: -webkit-linear-gradient(#009999, #009999);
    background-image: -o-linear-gradient(#009999, #009999);
    background-image: linear-gradient(#009999, #009999);
    background-repeat: no-repeat;
     background-position: 50% 50%;
background-size:  0% 100% ;
    -webkit-transition: background-size 0.6s linear;
    -o-transition: background-size 0.6s linear;
    transition: background-size 0.6s linear;


}

#top a{
    text-decoration:none;
    margin-right:2em;
    font-size:1.6em;
    color:white;
}
.star {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
    width:0.3em;
    height:0.3em;

}
/*generl */
h2{
  text-align: center;
    font-size:1.5em;
}
#about h2{
    margin-left: -4em;
}
.container {
    width:80%;
    margin: 0 auto;
}

.fixed {
  position: fixed;
  top: 0;
    width: 100%;
    z-index:10;
    background-size:100% 100%;

}

.fixed + * {
    padding-top:3em;
}
.selected{
background-color:red;
border: 1px solid red;
    padding:0.15em;

}
/*Sections*/
.row{
    width:90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
div{
width:100%;
}
#about {
    text-align:center;
    font-size:1.618em;


}
#about i{
    font-size:2.5em;

}
#about h4{
    font-size:1em;
    margin:0.5em;
}
#about p{
    line-height: 1.618em;
}
.skill-container{
    width:100%;
    margin-left:2em;
    margin:1em;
    border:0;
    text-align: center;
}
.skill-container h4 {
  text-align: left;
  font-size: 1.4em;
}
.skill-container img{
  width:80px;
  height:80px;
  margin-right: 1em;
}
#basic{
  width:220px;
  height:120px;
}
.skills{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   margin:1.618em 0;

}
#skillsContent{
  width:60%;
  margin:auto;

}
#skillsContent h3{
  text-align: center;
  font-size:3em;
}
#about button{
    width:20%;
    background-color:#004d4d;
    height:5%;
    border:0;
    color:white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
h3{
margin:0 0 1em 0;
}
.bar{
    width:0% ;
  background-color: #009999;
    text-align:right;
  color: black;
}
.Project-container{
    width:100%;
    margin:0 auto;
    margin-bottom: 0px;
    padding: 1em;


}


.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width:100%;
  margin: 2em;

}

.block {
  position: relative;
  width: 28%;
  height: 325px;
  max-height: 325px;
  margin-right: 1em;
  overflow: hidden;
  margin:1em;
}
.block:hover .block__body {
  position: absolute;
  top: 0;
  background: #2980b9;
  color: #fff;
  height: 100%;
  -webkit-transition: top .5s;
  -o-transition: top .5s;
  transition: top .5s;
}
.block:hover .block__body h3 {
  color: #fff;
}
.tech{
  color:#ffc107;
}
#side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

}
.btn {

  margin-right: 1em;
  width:5em;
  height:2em;
  border: 1px white;
  border-radius: 25px;
}
.btn-live {
  background-color: #004d4d;
  color: white;
}
.btn-github{
  background-color: #009999;
  color: white;

}
.block__body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding:1em;
  top: 100%;
  width:100%;
  font-size: 0.9em;
}
.block img{
  width:100%;
  height:100%;

}
#tradeswap{
  width:50%;
  margin:0 6em;
}
#brilog{
  font-size: 0.86em;
}
.slides{
    width:150vw;
    height:100%;
    display:block;
    padding:0;
    margin:0;


}
.slide{
    float:left;
    list-style-type: none;

}
.slide img{
    width:50vw;
    height: 50vh;
    display: inline-block;
}
.project-footer{
    margin:0 45%;
    font-size:2em;
    position: relative;
}
.project-footer i {
    margin-right:0.4em;
    cursor: pointer;
}
#projects{
    padding: 2em;
    background-color: #004d66;
    color:white;
}

.bio{
    padding:2em;
}

.hidden{
    opacity:0;
}
.row.hidden:first-of-type{
    -webkit-transform: translateX(-100vw);
        -ms-transform: translateX(-100vw);
            transform: translateX(-100vw);
}
.row,#projects,#contact{
    -webkit-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
}
.modal{
    display: none;
    position:fixed;
    z-index: 20;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.4);

}
.modal-content{
    margin:10% auto;
    width:70%;
    height:70%;
    padding:1.2em;
}
.modal-content img{
   width:100%;
    height: 100%;
}


.testimonials{
    width:40%;
    height:40%;
    margin:10% auto;
    font-size: 2em;
}
/*footer*/
form{

    display:-webkit-box;

    display:-ms-flexbox;

    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding:1em;
}
.form-container{
    font-size:2em;
    padding:3em;
    margin:0 auto;

}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}
.contact div {
  width:30%;
}
#linkedin{
  width:20%;
}

.form-container a {
  text-decoration: none;
  color:white;
}
footer nav{
    width:20%;
    margin:0 auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
-ms-flex-pack: distribute;
    justify-content: space-around;
    padding:1.618em;

}
footer{
    background-color:#653485;
    color:white;
}
.error-message{
    color:red;
    display:none;
}
footer nav a {
    text-decoration: none;
    color:black;
    font-size: 2em;

}
.nav-container{
    background-color: darkslategray;    /*footer navbar*/
}


.focused{
    border:2px solid green;

}
input[type=submit]{
    color:red;
    height:4em;
    width:40%;
    margin:0 auto;
}
.danger {
    border-color:red;
}
.active{
    border-color:green;

}

/*Key frames*/


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
     -webkit-transform:translateY(0);
             transform:translateY(0);
  }
	40% {
     -webkit-transform:translateY(-15px);
             transform:translateY(-15px);
  }
	60% {
        -webkit-transform:translateY(-10px);
                transform:translateY(-10px);
  }
}


@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
     -webkit-transform:translateY(0);
             transform:translateY(0);
  }
	40% {
     -webkit-transform:translateY(-15px);
             transform:translateY(-15px);
  }
	60% {
        -webkit-transform:translateY(-10px);
                transform:translateY(-10px);
  }
}
@-webkit-keyframes slideleft{
    0%{
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
    }
    100%{
        -webkit-transform:translate(0);
                transform:translate(0);
    }
}
@keyframes slideleft{
    0%{
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px);
    }
    100%{
        -webkit-transform:translate(0);
                transform:translate(0);
    }
}
@-webkit-keyframes slideright{
    0%{
    -webkit-transform: translateX(+200px);
            transform: translateX(+200px);
    }
    100%{
        -webkit-transform:translate(0);
                transform:translate(0);
    }
}
@keyframes slideright{
    0%{
    -webkit-transform: translateX(+200px);
            transform: translateX(+200px);
    }
    100%{
        -webkit-transform:translate(0);
                transform:translate(0);
    }
}

@-webkit-keyframes bounceform{
   0% {
     -webkit-transform:scale(0.5,0.5);
             transform:scale(0.5,0.5);
  }

	40% {
     -webkit-transform:scale(1.4,1.4);
             transform:scale(1.4,1.4);
  }
	60% {
        -webkit-transform:scale(0.8,0.8);
                transform:scale(0.8,0.8);
  }
       0% {
     -webkit-transform:scale(1.2,1.2);
             transform:scale(1.2,1.2);
  }
    100%{
        -webkit-transform:scale(1,1);
                transform:scale(1,1);
    }
}

@keyframes bounceform{
   0% {
     -webkit-transform:scale(0.5,0.5);
             transform:scale(0.5,0.5);
  }

	40% {
     -webkit-transform:scale(1.4,1.4);
             transform:scale(1.4,1.4);
  }
	60% {
        -webkit-transform:scale(0.8,0.8);
                transform:scale(0.8,0.8);
  }
       0% {
     -webkit-transform:scale(1.2,1.2);
             transform:scale(1.2,1.2);
  }
    100%{
        -webkit-transform:scale(1,1);
                transform:scale(1,1);
    }
}
#contact.hidden{
    -webkit-transform: scale(0.2,0.2);
        -ms-transform: scale(0.2,0.2);
            transform: scale(0.2,0.2);
}
#skillsContent.hidden{
  -webkit-transform: scale(2,2);
      -ms-transform: scale(2,2);
          transform: scale(2,2);

}


.hamburger{
    display:none;
}

@media screen and (max-width: 840px) {
    .headerButtonContainer{
    width:40%;
    margin:0 auto;
}
    .headerButtonContainer{
        display:none;
    }
    .headerButtonContainer1{
        display:block;
    }
    .headerButton{
        width:12%;
        height:10%;
        border-radius: 100%;
        outline: none;
    }
    .headerButton i{
        color:red;
        margin:0 auto;

    }
    .row:nth-of-type(2){
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
    }
    .testimonials p{
        font-size: 0.6em;
    }
    #about .row{
        margin-left:-5%;
    }
    .bio{
        margin-left:-20%;
        text-align: center;

    }

    .project-footer{
        width:30%;
    margin:0 auto;
}
    .blocK{
      width:40%;
    }

}
@media screen and (max-width:740px){
       .headerButtonContainer1{
    width:100%;
    height: 100%;
    margin:0 auto;
}
.headerButton{
  width:20%;
}
    .row{

        -webkit-box-orient: vertical;

        -webkit-box-direction: normal;

            -ms-flex-direction: column;

                flex-direction: column;
    }
    .navbar a:not(:last-child){
        display:none;
    }
    .navbar{
        height:3%;
    }
    .hamburger{
        position:absolute;
        display:block;
        right:0;
        float: right;

    }
    .fixed .hamburger{
        top:0;
    }
    .high{
        height:20%;
    }
     #top.fixed .responsive {

    float: none;
    display: block;
    text-align: left;
  }


    a.selected{
        border: 1px solid red;
        background-color: red;
    }
    #contact input,#contact textarea,.form-container{
        width:90%;

    }
    input[type=submit]{
    color:red;
    height:4em;
    margin-left:2%;
}
.blocks{
  margin:0 auto;
  font-size: 0.9em;
}
.block {
  width:100%;
  margin:1em 1em;
}
#tradeswap{
  margin-left: 4em;
}
#contact{
  padding: 0;
  font-size: 1.5em;
}
.contact{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          margin:0;
          padding:0;
          width:100%;
}
.contact  div {
  width:100%;
  padding:1em;

}
#linkedin{
  width:100%;
}

}
