body{
    width:100%;
    height:100%;
    margin:0;
}
header .container{
    color:white;
    text-align: center;
    padding: 16% 0 0 0;
}
#me{
    color:red;
}
.headerButton {
    color:white;
    background-color:#F85F36;
    border:0;
    height: 5%;
    
}
header i {
    margin-left:10px;
    font-size:1.2em;
}
.hovered{
    background-color:aqua;
    color:white;
border:0;
    height: 5%;
}
.container {
    width:80%;
    margin: 0 auto;
}
.navbar{
    background-color: black;
    padding:0.3em 0;
    border-bottom: 0.3em solid green;
}
#top a{
    text-decoration:none;
    margin-right:2em;
    font-size:1.6em;
    color:white; 
}
h2{
    text-align:center;
    font-size:1.5em;
    margin-bottom: 2em;
}
.row{
    width:90%;
    display: flex;
    padding: 2em;
    
}

div{
width:100%;
}
#about {
    text-align:center;
    font-size:1.618em;
}
#about i{   
    font-size:2.5em;
}
#about h4{
    font-size:1em;
    margin:0.5em;
}
#about p{
    line-height: 1.618em;
}
.skill-container{
    width:100%;
    margin-left:2em;
    display:flex;
    background-color: grey;
    margin:2%;
    border:0;
}
#about button{
    width:20%;
    background-color:aquamarine;
    height:5%;
    border:0;
}
h3{
margin:0 0 1em 0;
}
.bar{
    width:0% ;
  background-color: #4CAF50;
    text-align:center;
  color: black;  
}
form{
    
    display:flex;
    flex-direction: column;
    padding:1em;
}
.form-container{
    padding:3em;
    width:40%;
    margin:0 auto;
}
form input,form textarea{
    width:100%;
     height:5%;
    margin:1em;
}

form textarea{
    height:20%;
}
footer nav{
    width:20%;
    margin:0 auto;
    display:flex;
justify-content: space-around;
    padding:1.618em;

}
footer nav a {
    text-decoration: none;
    color:black;
    font-size: 2em;
    
}
.nav-container{
    background-color: darkslategray;
}
footer{
    background-color:#653485;
    color:white;
}
.error-message{
    color:red;
    display:none;
}
.star {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
    width:0.3em;
    height:0.3em;
}
header{
    background-color:black;
height:100%;
}
.bio{
    padding:2em;
}
.hidden{
    opacity:0;
}
.row,#header h2 ,#project,#contact{
    transition: all 2s ease;
}
.bar{
  transition: all 3s ease;  
}