body{
    width:100%;
    height:100%;
    margin:0;
    font-family: 'Barlow Condensed';
}
header .container{
    color:white;
    text-align: center;
    padding: 16% 0 0 0;
}
#me{
    color:red;
}   
.headerButton {
    text-align: center;
    color:white;
    background-color:transparent;
    border-top-width: 5px;
    border-left-width:5px;
    border-right-width:5px;
    border-bottom-width:5px;
    border-color:orange;
    height: 10%;
    width:15%;
    margin:0 auto;
    font-size:1.2em;
    
}

header i {
    margin-left:10px;
    font-size:1.2em;
    animation: bounce 3s infinite;
}
.hovered{
    background-color:aqua;
    color:white;
border:0;
    height: 5%;
}
.container {
    width:80%;
    margin: 0 auto;
}
.navbar{
    background-color: black;
    padding:0.3em 0;
    border-bottom: 0.5em solid #004d4d;
    background-image: linear-gradient(#009999, #009999);
    background-repeat: no-repeat;
     background-position: 50% 50%;
background-size:  0% 100% ;
    transition: background-size 1.2s linear;
   
    
}

#top a{
    text-decoration:none;
    margin-right:2em;
    font-size:1.6em;
    color:white;
}
h2{
    text-align:center;
    font-size:1.5em;
    margin-bottom: 1em;
}
.row{
    width:90%;
    display: flex;
    padding: 2em;
    
}

div{
width:100%;
}
#about {
    text-align:center;
    font-size:1.618em;
    
}
#about i{   
    font-size:2.5em;
   
}
#about h4{
    font-size:1em;
    margin:0.5em;
}
#about p{
    line-height: 1.618em;
}
.skill-container{
    width:100%;
    margin-left:2em;
    display:flex;
    background-color: grey;
    margin:2%;
    border:0;
}

#about button{
    width:20%;
    background-color:aquamarine;
    height:5%;
    border:0;
}
h3{
margin:0 0 1em 0;
}
.bar{
    width:0% ;
  background-color: #4CAF50;
    text-align:right;
  color: black;  
}
form{
    
    display:flex;
    flex-direction: column;
    padding:1em;
}
.form-container{
    padding:3em;
    width:40%;
    margin:0 auto;
}
form input,form textarea{
    width:100%;
     height:5%;
    margin:1em;
}

form textarea{
    height:20%;
}
footer nav{
    width:20%;
    margin:0 auto;
    display:flex;
justify-content: space-around;
    padding:1.618em;

}
footer nav a {
    text-decoration: none;
    color:black;
    font-size: 2em;
    
}
.nav-container{
    background-color: darkslategray;
}
footer{
    background-color:#653485;
    color:white;
}
.error-message{
    color:red;
    display:none;
}
.star {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
    width:0.3em;
    height:0.3em;
}
header{
    background: black;  
height:100%;
letter-spacing: 0.2em;
    font-size: 1.1em;
}
.bio{
    padding:2em;
}

.hidden{
    opacity:0;
}
#contact.hidden{
    transform:scale(0.2,0.2);
}
/*
.row,#header h2 ,#project,#contact{
    transition: all 2s ease;
}
*/
.bar{
  transition: all 3s ease;  
}
.fixed {
  position: fixed;
  top: 0;
    width: 100%;
    z-index:100;
    background-size:100% 100%;

    

}

.fixed + * {
    padding-top:3em;
}
.selected{
background-color:red;
border: 1px solid red;
    padding:0.15em;
    
}
#top a{
    transition:all 2sec;
} 
.Project-container{
   width:100%;
    height:100%;
    margin:0;
    background-image:url("../assets/images/project1.png");
     background-size: 80% 80%;
    background-position:center;
     background-repeat: no-repeat;
     
}
.Project-container button{
    margin:20% 5%;
    font-size:3em;
    color:black;
    opacity: 0.5;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.Project-container button:last-child{
    margin:20% 5%;
    float:right;
}
form {
    font-size:1.2em;
}
form input {
    height:3em;
}
.focused{
    border:2px solid green;
    
}
input[type=submit]{
    color:red;
    height:4em;
    width:40%;
    margin:0 auto;
}
@keyframes my{
    0%{  
            width:20%;     
        }
    50%{width:10%;}
    100%{  
        width:10%;
        border-color:red;
        border-radius: 100%}

}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
     transform:translateY(0);
  }
	40% {
     transform:translateY(-20px);
  }
	60% {
        transform:translateY(-12px);
  }
}
@keyframes slideleft{
    0%{
    transform: translateX(-2000px);
    }
    100%{
        transform:translate(0);
    }
}
@keyframes slideright{
    0%{
    transform: translateX(+200px);
    }
    100%{
        transform:translate(0);
    } 
}

#about h2+span{
  height:1px;
    width:200px;
    background-color: black;
}


